<?xml version="1.0" encoding="iso-8859-1"?>
<parameters>
  <amplitude>2.5</amplitude>
  <speed>2</speed>
  <wavelength>5</wavelength>
  <noiseBool>1</noiseBool>
  <noiseStrength>0</noiseStrength>
  <noiseWalk>1.104072</noiseWalk>
  <bias>0.65</bias>
  <continuousBool>1</continuousBool>
  <timePeriod>1.0975</timePeriod>
</parameters>