<?xml version="1.0" encoding="iso-8859-1"?>
<parameters>
  <amplitude>1.376812</amplitude>
  <speed>1.811594</speed>
  <wavelength>8.405797</wavelength>
  <noiseBool>0</noiseBool>
  <noiseStrength>3.043478</noiseStrength>
  <noiseWalk>10</noiseWalk>
  <bias>0</bias>
  <continuousBool>1</continuousBool>
  <timePeriod>0.4634146</timePeriod>
</parameters>